body {
  height: 100vh;
  background-color: var(--Grey-4);
}

.dashboardContainer {
  height: 100vh;
  background-color: var(--Grey-4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: var(--Grey-4);
  display: flex;
  width: 62.5rem;
  align-items: center;
  justify-content: space-between;
}

.techContainer {
  display: flex;
  flex-direction: column;
  gap: 1.313rem;
}

.userInfo {
  background-color: var(--Grey-4);
  height: 7.375rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;

  h2 {
    color: var(--Grey-0);
  }

  p {
    color: var(--Grey-1);
  }
}

.contentContainer {
  background-color: var(--Grey-4);
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Grey-0);
}

.content {
  display: flex;
  flex-direction: column;
  width: 62.5rem;
  gap: 1.438rem;
  margin-top: 2.5rem;
}

.info {
  width: 62.5rem;
  text-align: left;
  line-height: 1.7rem;
  margin: 1.5rem 1rem;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
}

.techs {
  display: flex;
  justify-content: space-between;
  width: 62.5rem;
  color: var(--Grey-0);
}

.btnAddTechs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--Grey-3);
  color: var(--Grey-0);
  border: 0.063rem solid var(--Grey-3);
  border-radius: 0.125rem;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .header {
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    align-items: center;
    width: 100%;
  }

  .info {
    gap: 1rem;
    width: 100%;
    text-align: left;
    line-height: 1.7rem;
    display: flex;
    flex-direction: column;
  }

  .contentContainer {
    padding: 0 1rem;
    align-items: center;
    width: 100%;
  }

  .content {
    gap: 1.5rem;
    width: 92%;
    text-align: left;
    line-height: 1.7rem;
    margin: 1.5rem 1rem;
  }

  .techContainer {
    width: 100%;
    padding: 1rem;
  }

  .techs {
    width: 100%;
  }
}
