.formContainer {
  background-color: var(--Grey-3);
  color: var(--Grey-0);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  padding: 2.625rem 1.375rem;
  width: 23.063rem;
  border-radius: 0.125rem;

  h2 {
    text-align: center;
    color: var(--Grey-0);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;

  p {
    color: var(--Grey-1);
  }
}

.registerBtnContainer {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;

  button {
    width: 100%;
  }
}

.btnParagraph {
  color: var(--Grey-1);
  font-family: var(--font-primary);
  text-align: center;
}
